<form class="questionbox" >
    <div style="float:left;width:40px;">{{ i[0] }}
    </div>
    <button name="id" type="button" value="{{i[0]}}" style="margin-bottom:10px;float:right;">保存</button>
    <input name="scorecalc" value="{{i[3]}}" style="width:100px;float:left;">
    <div id="status" style="font-size:18px;padding-left:20px;font-size:18px;padding-left:20px;width:200px;display:inline-block;text-align:center;">载入成功</div>

    <div style="position: relative;margin-left:50px;font-size: 18px;font-family: 'Microsoft Yahei UI Light';">
        <textarea style="height: 200px;width:100%;max-width:100%;resize:vertical;font-family: 'Microsoft Yahei UI';font-size:15px;" name="question">{{i[1]}}</textarea>
        <textarea style="height: 200px;width:100%;max-width:100%;resize:vertical;font-family: 'Microsoft Yahei UI';font-size:15px;" name="answer">{{i[2]}}</textarea>
    </div>
</form>